.container {
    height: 70vh;
    display: flex;
    justify-content: center;
}

.centerBox {
    /*background-color: #f1f1f1;*/
    background: linear-gradient(45deg, #c9b6f8, #fcc6c6);
    border-radius: 10px;
    height: 70vh;
    width: 60vw;
    transform: translateY(-30px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}