.indexBackground {
    background: linear-gradient(#5c759b, #ffffff);
}

.leftTopBar {
    position: absolute;
    left: 0;
    top: 10%;
    width: 19rem;
    height: 5rem;
    background-color: #f3ae05;
    transform-origin: 0 100%; /* 旋转的原点，左下角 */
    transform: rotate(-45deg);
    line-height: 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 1px 0 #000;
    color: #000000;
}

.leftTopBar::before,
.leftTopBar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #f6a612; /* 花边的颜色 */
}

.leftTopBar::before {
    top: -4px; /* 上边花边的位置 */
    left: -4px; /* 左边花边的位置 */
}

.leftTopBar::after {
    bottom: -4px; /* 下边花边的位置 */
    right: -4px; /* 右边花边的位置 */
}

@media screen and (max-width: 1000px) {
    .leftTopBar{
        display: none;
    }
}

.heroBanner {
    padding: 8rem 0 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    /*margin-bottom: 10rem;*/
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvasBox {
    position: relative;
    height: 400px;
    overflow: hidden;
    animation: leftInfoBoxFadeIn 1.5s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

.positionAbsolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.middleDiv {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rightInfoBoxFadeIn 1.5s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes leftInfoBoxFadeIn {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightInfoBoxFadeIn {
    from {
        opacity: 0;
        transform: translateX(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.centerBox {
    margin-top: 8rem;
    background: linear-gradient(45deg, #c9b6f8, #fcc6c6);
    border-radius: 10px;
    height: 550px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}